@import '../../utils';

.Button {
  width: 100px;
  height: 34px;

  border-radius: 80px;
  border-style: none;
  background-color: $colorPrimary;

  @extend %main;
  transition: background-color 0.3s;

  &:hover {
    background-color: #FFE302;
    cursor: pointer;
  }

  &:active {
    color: #fff;
    background-color: #B4B4B4;
  }

  &--width120px {
    width: 120px;
  }

  &--disabled {
    color: #fff;
    background-color: #B4B4B4;

    &:hover {
      color: #fff;
      background-color: #B4B4B4;
      cursor: default;
    }
  }
}