@import '../../utils';

.UserList {
  background-color: $colorBackground;
  display: flex;
  flex-direction: column;
  
  &__subtitle {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;

    margin-bottom: 50px;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 29px;
    }
  }
}

.subtitle {
  background-color: inherit;
  @extend %h1;
}