@import '../../utils';

.AnchorLink {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100px;
  height: 34px;

  border-radius: 80px;
  background-color: $colorPrimary;

  @extend %main;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #FFE302;
    cursor: pointer;
  }

  &:active {
    color: #fff;
    background-color: #B4B4B4;
  }
}