@import './typography';

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  
  position: absolute;
  padding: 3px 16px;
  bottom: -2em;
  left: 80px;
 
  background: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  color: #fff;
  @extend %main;
  visibility: hidden;
}
[data-title] {
  position: relative;
}